<div class = "container content">
<div class = "row">
	<div class ="col-md-6">
		hola
	</div>
	<div class ="col-md-6">
		Mundo
	</div>
	<div class ="col-md-6">
		3
	</div>
	<div class ="col-md-6">
		4
	</div>
</div>
</div>